

span.hint {font-style: italic;}

#event_content.watermarkBox { background-image: url(../img/watermark.png); background-position: -5px 0; background-repeat: repeat-y; border-color: #fd6892; }
#event_content h3.withEventIcon { background:transparent url(../img/medium.png) center left no-repeat; }